<dom-module id="dummy-element">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <h2>Hola [[prop1]]!</h2>
        <vaadin-horizontal-layout id="toolbar"></vaadin-horizontal-layout>
        <vaadin-grid id="grid"></vaadin-grid>
    </template>
    <script>
        /**
         * `dummy-element`
         * Dummy element
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class DummyElement extends Polymer.Element {
            static get is() { return 'dummy-element'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'dummy-element'
                    }
                };
            }
        }

        window.customElements.define(DummyElement.is, DummyElement);
    </script>
</dom-module>
