<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dummy-test">
    <template>
        <dummy-element id="dummy"></dummy-element>
    </template>
    <script>
        /**
         * `dummy-test`
         * Dummy test
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class DummyTest extends Polymer.Element {
            static get is() { return 'dummy-test'; }
            static get properties() {
                return {
                    prop1: {
                        type: String,
                        value: 'dummy-test'
                    }
                };
            }
        }

        window.customElements.define(DummyTest.is, DummyTest);
    </script>
</dom-module>
